server {
    listen 80 default_server;
    listen [::]:80 default_server;

    # Deshabilitar caché
    add_header Cache-Control "no-cache, no-store, must-revalidate";
    add_header Pragma "no-cache";
    add_header Expires 0;

    root /var/www/html;
    index index.html;

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }

    location /id {
        add_header Content-Type text/plain;
        default_type text/plain;
        alias /etc/unique_id;
    }
}
